@media only screen and (min-width: 992px) {
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(241,177,54,0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(247,158,55,0.8);
  }
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #f81574;
}

